<?xml version="1.0"?>
<config>
	<router>
		<address>10.10.100.2</address>
		<username>admin</username>
		<password></password>
	</router>
	<router>
		<address>10.10.7.3</address>
		<username>admin</username>
		<password></password>
	</router>
	
	
	
	
	
	
	
	
	<link>
		<address>10.10.100.0/24</address>
		<bandwidth>100</bandwidth>
	</link>
	
	<link>
		<address>10.10.2.0/24</address>
		<bandwidth>100</bandwidth>
	</link>
	
	<link>
		<address>10.10.4.0/24</address>
		<bandwidth>100</bandwidth>
	</link>
	
	<link>
		<address>10.10.6.0/24</address>
		<bandwidth>100</bandwidth>
	</link>
	
	<link>
		<address>10.10.7.0/24</address>
		<bandwidth>100</bandwidth>
	</link>
	
	<link>
		<address>10.10.8.0/24</address>
		<bandwidth>100</bandwidth>
	</link>
</config>